@{
    ViewData["Title"] = "Catalogue";
}

<h1>Sandielocks Car Catalogue</h1>

@* to display the cars *@
    <div id="catalog">

    </div>   
    
@section Styles{
    <link href="/css/catalog.css" rel="stylesheet">
} 

@section Scripts{
    <script src="/js/catalog/catalog.js"></script>
}