
@{
    ViewData["Title"] = "About Me";
}


<div>
    <main>
            <br><br>
            <h1>Sandielocks Car Rental</h1>
            <hr>
            <article>                           
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit corporis odio molestiae dicta voluptatibus, quas repudiandae dignissimos sit eligendi quasi consectetur beatae perspiciatis asperiores suscipit consequuntur ipsum repellendus, laboriosam nihil.</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit corporis odio molestiae dicta voluptatibus, quas repudiandae dignissimos sit eligendi quasi consectetur beatae perspiciatis asperiores suscipit consequuntur ipsum repellendus, laboriosam nihil.</p>
                
            <br>
            <hr>
            <br>
            <article>
                <h2>Car Maintenance</h2>
                <br>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit corporis odio molestiae dicta voluptatibus, quas repudiandae dignissimos sit eligendi quasi consectetur beatae perspiciatis asperiores suscipit consequuntur ipsum repellendus, laboriosam nihil.</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit corporis odio molestiae dicta voluptatibus, quas repudiandae dignissimos sit eligendi quasi consectetur beatae perspiciatis asperiores suscipit consequuntur ipsum repellendus, laboriosam nihil.</p>
                <a href="#">Read more</a>
            </article>  
            <br>
            <hr>
            <br>
        </div>      